<ion-header>

  <ion-navbar>
    <ion-title>{{ 'GAME_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="dark-bg">
  <ion-list>
    <ion-item-sliding *ngFor="let g of games">
      <button ion-item (click)="openItem(g)">
        <ion-avatar item-start>
          <img [src]="g.img" />
        </ion-avatar>
        <h2>{{g._dateReadable}}</h2>
        <p>{{g.place}}</p>
        <ion-note item-end *ngIf="g.note">{{g.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(g)">
          Löschen
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini color="danger" (click)="newGame()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>