<ion-header>

  <ion-navbar>
    <ion-title>Smash Counter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="dark-bg">
  <div class="item-profile" text-center #avatar [style.background-image]="'url(' + item.img + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item._dateReadable}}</h2>
    <p>{{item.place}}</p>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let pg of activePlayerGame; let i = index" >
      <ion-item class="player-list" *ngIf="pg">
        <ion-avatar item-start>
            <img class="avatar-img" [src]="activePlayers[i].avatar" />
        </ion-avatar>
        <ion-col>
          <h2>{{activePlayers[i].name}}</h2>
        </ion-col>
        <ion-col>
          <p>
            SMASHES: {{pg.smashes}} 
            <button ion-button float-right color="third" class="ar-button" (click)="remSmash(pg, activePlayers[i])">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
            </button>
            <button ion-button float-right color="third" class="ar-button" (click)="addSmash(pg, activePlayers[i])">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </button>
          </p>
        </ion-col>
        <ion-col>
          <p>
            DOUBLERS: {{pg.doubler}}
            <button ion-button float-right color="third" class="ar-button" (click)="remDoubler(pg, activePlayers[i])">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
            </button>
            <button ion-button float-right color="third" class="ar-button" (click)="addDoubler(pg, activePlayers[i])">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </button>
          </p>
        </ion-col>
      </ion-item>

      <ion-item-options>
        <button ion-button color="third">
          Entfernen
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item class="player-list" (click)="addPlayerToGame()">
        <ion-icon item-start name="add" color="third"></ion-icon>
        <h2>
            Spieler hinzufügen
        </h2>
    </ion-item>
  </ion-list>

</ion-content>